#sentence-transformers==2.2.2
#torch
langchain
langchain-community
#langchain-huggingface
langchain-google-genai
flask
#pypdf
python-dotenv
pinecone[grpc]
langchain-pinecone
langchain_community
#langchain_openai
langchain_experimental 
langchain-core
huggingface-hub

